spring:
  application:
    name: customer-service

  datasource:
    url: jdbc:h2:mem:customers-db
  h2:
    console:
      enabled: true

  cloud:
    discovery:
      enabled: false
    config:
      enabled: false

  data:
    rest:
      base-path: /api

server:
  port: 8081
