spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:h2:mem:products-db
  h2:
    console:
      enabled: true

  cloud:
    discovery:
      enabled: true
    config:
      enabled: false

  data:
    rest:
      base-path: /api
server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    prefer-ip-address: true