spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ElhoucineElmourabit/ecom-config-microservices-app


server:
  port: 9999
